name: Rust
on:
  pull_request:
    branches:
      - main
    paths:
      - '**/*.rs'

permissions:
  checks: write

jobs:
  linter:
    runs-on: blacksmith-2vcpu-ubuntu-2404
    steps:
      - uses: actions/checkout@v4
      - name: Rust toolchain
        uses: dtolnay/rust-toolchain@master
        #uses: actions-rust-lang/setup-rust-toolchain@v1
        with:
          components: clippy
          toolchain: nightly
      - name: Install and Cache Apt packages
        uses: awalsh128/cache-apt-pkgs-action@latest
        with:
          packages: nasm
          version: 1.0
      - name: Cache Rust dependencies
        uses: Swatinem/rust-cache@v2.8.0
        with:
          cache-on-failure: true
      - name: Run linter (clippy action)
        #env: SQLX_OFFLINE: true
        uses: clechasseur/rs-clippy-check@v5
        with:
          #token: ${{ secrets.GITHUB_TOKEN }}
          args: --workspace
          # args: --verbose -- -W warnings

  formatting:
    runs-on: blacksmith-2vcpu-ubuntu-2404
    steps:
      - uses: actions/checkout@v4
      - name: Rustfmt Toolchain
        uses: actions-rust-lang/setup-rust-toolchain@v1
        with:
          toolchain: nightly
          components: rustfmt
      - name: Rust fmt check
        uses: actions-rust-lang/rustfmt@v1

